# Triangles

Triangle is an object built of three line segments (sides of triangle), connected by ends. Wiki on triangles provides more detailed explanation.
If we have three line segments with lengths A B C - we either can built a triangle with them

(for example with 3 4 5 or 3 4 7 - though this is with zero area) or we found it impossible
(for example 1 2 4).

You are given several triplets of values representing lengths of the sides of triangles. You should tell from which triplets it is possible to build triangle and for which it is not.

Input data: First line will contain number of triplets.
Other lines will contain triplets themselves (each in separate line).
Answer: You should output 1 or 0 for each triplet (1 if triangle could be built and 0 otherwise).

Example:

data:

2

3 4 5

1 2 4


answer:

1 0

In [32]:
input_num  = input("Enter a total number of triplets and triplets followed by spaces") 

total_data=""
status =""
triplets=""

try:
    data  = [  int(x) for x in input_num.split(" ") if x ]
    i = 1
    if(len(data)> 1 and (len(data)-1)%3 ==0):
        total_data =(len(data)-1)//3
        while i<len(data):
            tri = data[i:i+3]
            print(tri)
            a = tri[0]
            b = tri[1]
            c = tri[2]
            triplets +="{} {} {}\n".format(a,b,c)
            sum1 = a+b
            sum2 = b+c
            sum3 = a+c
            if sum1>c and sum2>a and sum3>b:
                status +="1 "
            else:
                status +="0 "
            i +=3
    else:
        print("Invalid pair")
            
    
except ValueError:
    print("Invalid number please enter ingeter only")

Enter a total number of triplets and triplets followed by spaces26 393 396 291 990 1276 1687 823 3827 1587 410 672 1158 833 2756 1354 754 738 1438 331 690 310 993 1768 808 226 125 541 2052 860 654 1212 2325 633 1501 1068 536 677 2131 896 270 235 591 815 1385 3378 429 1062 320 2619 973 1713 683 640 718 895 1354 2333 141 276 287 430 638 263 992 1375 2815 223 639 434 422 871 460 994 1702 778 559 416 533
[393, 396, 291]
[990, 1276, 1687]
[823, 3827, 1587]
[410, 672, 1158]
[833, 2756, 1354]
[754, 738, 1438]
[331, 690, 310]
[993, 1768, 808]
[226, 125, 541]
[2052, 860, 654]
[1212, 2325, 633]
[1501, 1068, 536]
[677, 2131, 896]
[270, 235, 591]
[815, 1385, 3378]
[429, 1062, 320]
[2619, 973, 1713]
[683, 640, 718]
[895, 1354, 2333]
[141, 276, 287]
[430, 638, 263]
[992, 1375, 2815]
[223, 639, 434]
[422, 871, 460]
[994, 1702, 778]
[559, 416, 533]

In [33]:
print("Total Data \n",total_data)
print("List of Triplets:\n",triplets)
print("Answer \n",status)

Total Data
 26
List of Triplets:
 393 396 291
990 1276 1687
823 3827 1587
410 672 1158
833 2756 1354
754 738 1438
331 690 310
993 1768 808
226 125 541
2052 860 654
1212 2325 633
1501 1068 536
677 2131 896
270 235 591
815 1385 3378
429 1062 320
2619 973 1713
683 640 718
895 1354 2333
141 276 287
430 638 263
992 1375 2815
223 639 434
422 871 460
994 1702 778
559 416 533

Answer
 1 1 0 0 0 1 0 1 0 0 0 1 0 0 0 0 1 1 0 1 1 0 1 1 1 1